<section data-ng-controller="PunchesController">
<md-card>
    <md-card-content>
      <h2>Time to work</h2>
      <p>
        Ready to work?
      </p>
      <div class="bottom-bar">
        <md-button class="cardBtn clock" ng-hide="inProgress" ng-click="inProgress=true; create()">
        <strong>Punch!</strong>
        </md-button>
        <md-button class="cardBtn done" ng-show="inProgress" ng-click="inProgress=false; close()">
        <strong>Done!</strong>
        </md-button>
      </div>
    </md-card-content>
</md-card>
</section>