<div data-ng-controller="PunchesController" data-ng-init="find()">
<md-card>
    <md-card-content>
      <div ng-hide="inProgress">
          <h1>Time to work</h1>
          <p>
            Ready to work?
          </p>
      </div>
      <div ng-show="inProgress">
        <h1>Working...</h1>
        <p>
            Just Tell me when you're done
        </p>
        <h2>{{clock |  date:'HH:mm:ss'}}</h2>
      </div>
      <div class="bottom-bar">
        <md-button class="cardBtn clock" ng-hide="inProgress" ng-click="inProgress=true; create()">
        <strong>Punch!</strong>
        </md-button>
        <md-button class="cardBtn done" ng-show="inProgress" ng-click="inProgress=false; close();">
        <strong>Done!</strong>
        </md-button>
      </div>
    </md-card-content>
</md-card>

<md-card data-ng-repeat="punch in punches">
    <md-card-content>
        <h1 data-ng-bind="punch.startTime | date:'EEEE'"></h1>
        <small class="list-group-item-text">
            <p>
            Start Time:
            <span data-ng-bind="punch.startTime | date:'HH:mm:ss'"></span>
            </p>
            <p>
            End Time:
            <span data-ng-bind="punch.endTime | date:'HH:mm:ss'"></span>
            </p>
            <span data-ng-bind="punch.user.displayName"></span>
        </small>
        <div class="glyphicon glyphicon-trash" data-ng-click="remove(punch)"></div>
    </md-card-content>
</md-card>

</div>
